body{
    margin: 0px;
    font-family: "Lato",sans-serif;
   
}
header{
	display: grid;
	grid-template-columns: 1fr;
	background: rgba(191, 191, 191, 1); 
    height: 840px;
    width: 100%;
  background: url('images/bannerbg.jpg');
  background-size: cover;

}
nav{
	display: flex;
	justify-content: space-between;
	padding: 38px;
}
.right-nav{
	display: flex;
}
nav>.right-nav>div{
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}
.link-nav-wrapper{
	height: 22px;
	border-bottom: 1px solid transparent ;
	transition: border-bottom 0.5s;
}
.link-nav-wrapper a {
	color: black;
	text-decoration: none;
	transition: color 0.5s;

}
.link-nav-wrapper a:hover{
	color:#8a8a8a;
}
.intro{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.intro p{
	letter-spacing: 4px;
}
.im img{
	margin-left: auto;
	margin-right: auto;
    display: block;
	margin-bottom: -900px;
	height: 158px;
    width: 78px;
}
.s-text{
	color: red;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	margin-bottom: -800px;
}
/*section about me*/
.about{
	margin: 60px 60px;
	padding: 40px 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.abText{
	line-height: 45px;
}
.abText hr{
	width:11%;
	height:2px;
	background-color:black;
	text-align:left;
	margin-left:0
}
.abImg{
	margin-left: 40px;
}
button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
/*section What we do*/
.whatWeDo{
	margin: 60px 60px;
	padding: 40px 30px;
	letter-spacing: 2px;
	text-align: center;
}
.wwd-text hr{
	width:5%;
	height:2px;
	background-color:black;
	text-align:center;
}

.whatWeDo hr{
	width:5%;
	height:2px;
	background-color:black;
	text-align:center;
	transition: backgrond-color 1s;
}
.wwd-boxes{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
 .wwd-box{
  background-color:white;
  border-color:none;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 9px 2px;
  width: 97%;
  height: 148px;
  cursor: pointer;
  border-radius: 3px;
  display: grid;
	grid-template-columns: 0.4fr 0.6fr;
	box-shadow: 0 35px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 1s;
}
.wwd-box:hover{
	background-color: rgb(232 76 61);
	color: white;
	}
	.wwd-box:hover hr{
  background-color: white;
}